body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97.3vh;
    background-image: linear-gradient(to bottom right,#4D1959,#9C4FAD);
    background-repeat: no-repeat;
    font-family:'Courier New', Courier, monospace;
}
.container{
    border: 5px dashed white;
    text-align: center;
    padding: 100px;
}

h1{
    color: white;
    text-decoration:overline;
}
#inputbyuser{
    height: 35px;
    width: 250px;
    border-radius: 5px;
    border: none;
    font: 1.5rem;
    font-weight: bolder;
    outline: none;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.774);
}
button{
    height: 35px;
    width: 100px;
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}

#task ul{
    position: relative;
    background-color:#4D1959;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
}
#task ul i{
    position: absolute;
    right: 8px;
    cursor: pointer;
}
